windogs.win, www.windogs.win {
  root * /usr/share/caddy
  try_files {path} /index.html
  file_server
}

fsm.windogs.win {
  root * /usr/share/caddy
  try_files {path} /index.html
  file_server
}

sera.windogs.win {
  reverse_proxy sera:5000
}